name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
    - name: Checkout
      uses: actions/checkout@v3.5.3
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
      
    - name: Login to GitHub Packages
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
      
    - name: Push Docker Image to GitHub Container Registry
      uses: docker/build-push-action@v4.1.1
      with:
        push: true
        tags: ghcr.io/eparkertamu96/xyz:latest
        
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3.5.3
      
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}
        
    - name: Kubectl tool installer
      uses: Azure/setup-kubectl@v3
        
    - name: Setup Kubectl
      run: aws eks update-kubeconfig --region ${{ secrets.AWS_REGION }} --name ${{ secrets.CLUSTER_NAME }} --role-arn ${{ secrets.ROLE_ARN }}

    - name: Update config file with secrets
      run: sed -i "s|%%CERTIFICATE_ARN%%|${{ secrets.CERTIFICATE_ARN }}|g" ./deploy/xyz_config.yaml
    
    - name: Deploy to EKS
      run: kubectl apply -f ./deploy/xyz_config.yaml
      
    - name: Deploy latest Docker image
      run: kubectl rollout restart deployment xyz-api-deployment
  
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          repository: eparkertamu96/xyz_automated_testing

      - name: Setup project
        run: |
          sudo apt-get update
          sudo apt install nodejs
          
      - name: Execute Tests
        run: |
          npm install
          ls -la
          TEST_URL=${{ secrets.APP_URL }} npx nightwatch ./test/xyz_test.ts --config ./nightwatch.conf.js --env api_testing
  
      - name: Archive test results
        uses: actions/upload-artifact@v3
        with:
          name: code-coverage-report
          path: tests_output
